/* 

*/
.filter-menu .price-range {
	padding-top: 15px;
	max-width: 200px;
	padding-bottom: 15px;
}

.price-range .slider-labels {
	margin-top: 10px;
	display: table;
	width: 100%;
	max-width: 170px;
	margin: 0 auto 20px;
}

.price-range .slider-labels .caption {
	display: table-cell;
	vertical-align: middle;
	color: #333;
}

.price-range .noUi-target {
	position: relative;
	direction: ltr;
}

.price-range .noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.price-range .noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

.price-range .noUi-handle {
	position: relative;
	z-index: 1;
}

.price-range .noUi-stacking .noUi-handle {
	z-index: 10;
}

.price-range .noUi-state-tap .noUi-origin {
	-webkit-transition: left 0.3s, top .3s;
	transition: left 0.3s, top .3s;
}

.price-range .noUi-state-drag * {
	cursor: inherit !important;
}

.price-range .noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.price-range .noUi-horizontal {
	height: 4px;
}

.price-range .noUi-horizontal .noUi-handle {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	left: -7px;
	top: -7px;
	background-color: #00b4ff;
}

.price-range .noUi-background {
	background: #D6D7D9;
}

.price-range .noUi-connect {
	background: #00b4ff;
	-webkit-transition: background 450ms;
	transition: background 450ms;
}

.price-range .noUi-origin {
	border-radius: 2px;
}

.price-range .noUi-target {
	border-radius: 2px;
}

.price-range .noUi-target.noUi-connect {
}

.price-range .noUi-draggable {
	cursor: w-resize;
}

.price-range .noUi-vertical .noUi-draggable {
	cursor: n-resize;
}

.price-range .noUi-handle {
	cursor: default;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.price-range .noUi-handle:active {
	border: 8px solid #345DBB;
	border: 8px solid rgba(53, 93, 187, 0.38);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	left: -14px;
	top: -14px;
}

.price-range [disabled].noUi-connect,
.price-range [disabled] .noUi-connect {
	background: #B8B8B8;
}

.price-range [disabled].noUi-origin,
.price-range [disabled] .noUi-handle {
	cursor: not-allowed;
}
#profile_page .inline_menu ul li a .form-control {
    display: inline-block;
    width: auto;
    margin-right: 9px;
}
.inline_menu .price-range .noUi-horizontal .noUi-handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -6px;
    top: -3px;
    background-color: #00b4ff;
}
.inline_menu .price-range .slider-labels {

    margin-top: 18px;
    display: table;
    width: 100%;
    max-width: 270px;
    margin-left: -17px;

}
.inline_menu .btn_custom_li {
    background: #0051a0;
    border: none;
    border-radius: 5px;
	color:#fff;
	padding: 0px 29px;
}
.top_search .chosen-container-multi .chosen-choices {
   
    padding: 10px 5px;
      background-image: none;
    border: 1px solid #0051a0;
    border-radius: 5px;
}
.banner_form form.example #category {
    padding: 10px;
    font-size: 17px;
    border: 1px solid transparent;
    float: left;
    width: 80%;
    background: #00b4ff;
    border-radius: 5px;
    height: 48px;
}

/*chat box css*/
.chatbox .mytext{
    border:0;padding:10px;background:whitesmoke;
}
.chatbox .text{
    width:75%;display:flex;flex-direction:column;
}
.chatbox .text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.chatbox .text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.chatbox .text-l{
    float:left;padding-right:10px;
}        
.chatbox .text-r{
    float:right;padding-left:10px;
}
.chatbox .avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:8%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}

.chatbox ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  

.disabled{pointer-events: none;
  cursor: default;}
  
.teacher_img{height:185.4px;}  