/* 

*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
* {
  box-sizing: border-box;
}
/* reste-css-end*/

/* Custome-css-header*/
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none; !important;
}
.navbar-nav {
    margin-top: 40px;
}
.top_header{
    position: relative;
    display:  inline-block;
    width:  100%
}

.top_header .navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.top_header .navbar-default .navbar-nav>li>a {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding-top: 40px;
}
.banner {
    position: relative;
    width: 100%;
    display: inline-block;
     background: url(../images/banner.jpg) no-repeat left top; 
    background-size: cover;
    max-width: 100%;
     min-height: 750px; 
    vertical-align: top;
}

.banner_form {
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 900px;
    background: #fff;
    max-width: 100%;
    border-radius: 10px;
    padding-top: 37px;
    padding-bottom: 38px;
    padding-left: 43px;
}
.banner_form .form_content h2 {
    margin-top: 5px;
    font-family: poppins;
    font-size: 36px;
    font-weight: 400;
    color: #0051a0;
}
.banner_form form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid transparent;
    float: left;
    width: 80%;
    background: #00b4ff;
    border-radius: 5px;
    height: 48px;
}
.banner_form ::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 18px;
  font-family: poppins;
}

.banner_form form.example button {
    float: left;
    width: 8.5%;
    background: #0051a0;
    color: white;
    font-size: 32px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-left: 13px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 48px;
}

.banner_form form.example button:hover {
  background: #0b7dda;
}

.banner_form form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* Custome-css-header-end*/

/*images_gallery*/
.images_gallery{
    position: relative;
    display: inline-block;
    width:  100%;
    padding-bottom: 30px;
}
.images_heading p{
color: #444444;
font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
         padding-bottom: 62px;
     }
.images_heading h2 {
        margin-top: 5px;
    font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: #0051a0;
    text-align: center;
    padding-top: 66px;
    padding-bottom: 46px;
    line-height: 50px;
}
.img_box1 {
    position: relative;
    display: inline-block;
    width:  100%;
        margin-bottom: 50px;
}
.img_box1 .gel_img1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box_1 {
    position: relative;
    display: inline-block;
    width: 100%;
}
.img_incontent {
    background: #ececec;
    padding: 1px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.img_incontent h3{
     font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    color: #0051a0;
}
.img_incontent p{
color: #444444;
font-family: poppins;
    font-size: 20px;
    font-weight: 400;
}
.ul_img {
    list-style-type: none;
    position: absolute;
    bottom: 84px;
    right: 10px;
}
.ul_img li {
    padding: 2px 0px;
}
.circle_1 {
    width: 40px;
    height: 40px;
    /*background: #ff757c;*/
    padding: 1px;
    border-radius: 50%;
    border:1px solid #35528f;
}
.circle_1 .fa {
    color: #35528f;
    font-size: 24px;
    font-weight: 300;
        padding: 6px 6px;
}
.circle_2 {
    width: 40px;
    height: 40px;
    padding: 1px;
    border-radius: 50%;
    border:1px solid #26a1d6;
}
.circle_2 .fa {
    color: #26a1d6;
    font-size: 24px;
    font-weight: 300;
       padding: 6px 6px;
}
.circle_3 {
    width: 40px;
    height: 40px;
    padding: 1px;
    border-radius: 50%;
    border:1px solid #0073ab;
}
.circle_3 .fa {
    color: #0073ab;
    font-size: 24px;
    font-weight: 300;
       padding: 6px 6px;
}
.custom_line i.fa.fa-angle-right {
    font-size: 44px;
}
.btn_custom {
    color: #fff;
    background-color: #00b4ff;
    border: 1px solid #fff;
    font-size: 33px !important;
    font-family: Poppins;
}
.btn_custom_small {
    color: #fff;
    background-color: #0051a0;
    border: 1px solid #fff;
    font-size: 24px !important;
    font-family: Poppins;
}
.btn-group, .btn-group-vertical {
    margin-bottom: 100px;
}
.custom_line::before {
   position: absolute;
    top: 30px;
    left: -288px;
    width: 266px;
    height: 2px;
    z-index: 1;
    border: 1px solid #00b4ff;
    content: "";
}
.custom_line::after {
    position: absolute;
    top: 30px;
    right: -288px;
    width: 266px;
    height: 2px;
    z-index: 1;
    border: 1px solid #00b4ff;
    content: "";
}

.btn-group>.btn+.dropdown-toggle {
    padding-right: 18px !important;
    padding-left: 18px !important;
}
/*images_gallery-end*/

/*services*/
.services{
    position: relative;
    width: 100%;
    display: inline-block;
}
.services h2{
        font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: #0051a0;
    margin-bottom: 50px;
}
.service_box1 h3 {
    font-family: poppins;
    font-size: 24px;
    font-weight: 500;
    color: #0051a0;
    padding-bottom: 15px;
    line-height: 30px;
}
.service_box1 p {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    padding-top: 30px;
    line-height: 24px;
}
.services_hr {
    max-width: 77px;
    margin: 0 auto;
    border: 1px solid #0051a0;
}
.bg_blue {
        background: #d9f4ff;
    min-height: 401px;
    position: absolute;
    top: 210px;
    left: 0;
    width: 100%;
    display: inline-block;
    z-index: -1;
}


/*services -ENF*/

/*persch*/
.Perch_section {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 143px;
}
.Perch_1 h2{
     font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: #0051a0;
    text-align:center;
}
.Perch_2 .para_1 {
    color: #00b4ff;
    text-align: left;
    font-size: 24px;
    font-family: Poppins;
}
.Perch_2 .para_2 {
    color: #444444;
    text-align: left;
    font-size: 20px;
    font-family: Poppins;
}
.Perch_2 {
    border-left: 2px solid #00b4ff;
    padding-left: 47px;
}
/*persch-end*/

/*testimonial*/
.item_1 h3 {
    color: #444444;
    font-size: 16px;
       font-family: Poppins;
        font-weight: 300;
}
.testimonial_section{
    position: relative;
    display: inline-block;
    width: 100%;
    background:#f8f8f8;
        margin-top: 60px;
    padding-top: 53px;
}



.detaile .para_1 {
    color: #0051a0;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    padding-top: 10px;
}
.detaile .para_2{
    color:#444444;
    font-size: 16px;
       font-family: Poppins;
        font-weight: 300;
}
.testimonial_heading {
    font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: #0051a0;
    text-align: center;
    /*margin-top: 80px;*/
    margin-bottom: 60px;
}
.item_1 {
    padding-bottom: 40px;
    position: relative;
}
.item_1 .text-left {
    text-align: left;
    width: 100px;
    display: inline-block;
    margin-right: 15px;
}

.item_1 .text-left>img {
     width: auto !important;
    max-width: 100%;
    border-radius: 50%;
    height: 96px;
    border: 2px solid #00b4ff;
    padding: 6px;
}

.user-info {
    display: inline-block;
    vertical-align: top;
}

.detaile {
    position: relative;
    width: 100%;
    display: block;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00b4ff;
}
.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
}
.owl-theme .owl-dots .owl-dot span {
    background: #7cd6fc;
}
.owl-dots {
     padding-bottom: 78px; 
}
.service_circle {
    width: 215px;
    height: 215px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.service_circle_border {
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #0051a0;
    margin: 0 auto;
    position: relative;
    top: 31px;
    text-align: center;
}
.service_circle_border img {
    margin-top: 20px;
}
.service_circle>img {
    padding: 42px 44px;
}
/*testimonial-end*/

/*bg_img*/
.bg_img{
 position: relative;
    width: 100%;
    display: inline-block;
     background: url(../images/banner_second.jpg) no-repeat left top; 
    background-size: cover;
    max-width: 100%;
     min-height: 530px; 
    vertical-align: top;
    /*margin-top: 70px;*/
}
.last_bg_content {
    background: #00b4ff7a;
    height: 530px;
    width: 100%;
}
.last_bg_content h3 {
    font-family: poppins;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding-top: 80px;
    margin-top: 0px;
    padding-left: 70px;
    padding-bottom: 10px;
    max-width: 625px;
    letter-spacing: 0.5px;
    line-height: 30px;
}
.last_bg_content p {
    font-family: poppins;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    max-width: 625px;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding-left: 70px;
}
.bg_img .btn_custom {
    color: #0051a0;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 24px !important;
    font-family: Poppins;
    width: 189px;
    text-align: left;
}
.bg_img .btn-group, .btn-group-vertical {
    margin-bottom: 100px;
    padding-left: 70px;
    padding-top: 30px;
}
.item_1 .info {
    margin-top: 10px;
}
.item_1 h3 {
    margin-top: 29px;
}
/*bg_img-end*/

/*footer*/
.footer {
    position: relative;
    width: 100%;
    display: inline-block;
    padding-top: 47px;
    padding-bottom: 73px;
    background: #fff;
}
.foot_2 ul {
    list-style-type: none;
}.foot_3 ul {
    list-style-type: none;
}.foot_4 ul {
    list-style-type: none;
}
.foot_2 ul li {
    /*color: #000;*/
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-family: poppins;
}
.foot_3 ul li {
    /*color: #000;*/
    font-size: 16px;
     font-weight: 500;
    line-height: 24px;
    text-align: left;
    font-family: poppins;
}
.foot_4 ul li {
    display: inline-block;
    /*padding: 20px 23px;*/
    font-size: 24px;
}
.foot_4 {
    text-align: center;
}
.foot_4 .social_heading {
      font-size: 16px;
       font-weight: 500;
    padding-right: 10px;
    font-family: poppins;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
}
.foot_2 ul li a {
    color: #000;
}
.foot_3 ul li a {
    color: #000;
}
.foot_4 ul li {
    margin: 0px 5px;
}
/*footer-end*/


/*HARISH WORK STARTS 12-9-2019*/
/*Login part css new Popup*/
button.close img, button.close {opacity: 1; margin-top: -44px; margin-right: -12px; }
.login-form {font-family: poppins; /*background-color: rgba(0,180,255,0.4); background: url('../images/popupbg.jpg'); background-size: cover; */}
.login-form input[type="email"], .login-form input[type="password"],
.login-form input[type="password"]:active,
.login-form input[type="password"]:focus,.login-form input[type="text"],.login-form .btn-default,.login-form .btn-default:hover {border-color: #00b4ff; height: 40px; }
.login-form .modal-content {padding: 20px;max-width: 420px; }
.login-form h4, .login-form strong { color: #0051a0; font-size: 18px; font-weight: 400; }
.btn-social{background-color: #4e69a2;color: #fff;height: 40px;line-height: 34px!important;}
.btn-social:hover span{color: #fff;}
.btn-social:hover {color: #fff!important; }
.login-form .modal-header {border-bottom: 0; padding-bottom: 0; padding-top: 10px; }
.custom-blue {background-color: #00b4ff !important; border-color: #00b4ff !important; }
.fb-icon {font-size: 20px;line-height: 34px; }
.reveal:hover,.btn.btn-default.reveal:hover {background-color: transparent; }
.custom-color-red{height: 40px; background-color: #ed1c24!important;}
.custom-color-red,.custom-blue,.btn-social{font-size: 16px!important;height: 46px}
#myModalregistartion {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    margin: auto;
    max-width: 420px;
    max-height: 600px;
}
.login-form.registration-form {background-image: none;background-color: transparent; }
.login-form .btn-default, .login-form .btn-default:hover {border-left: 0 !important; border-left-color: transparent !important; }
.checkbox a {color: #00b4ff; }
.ln32{line-height: 32px;}
.login-form .checkbox label{padding-left: 0;}
.custom-link-registration a {color: #00b4ff;}
.checkbox label:after {content: ''; display: table; clear: both; }
.checkbox .cr {position: relative; display: inline-block; border: 1px solid #00b4ff; border-radius: .25em; width: 1.3em; height: 1.3em; float: left; margin-right: .5em; }
.checkbox .cr .cr-icon {position: absolute; font-size: .8em; line-height: 0; top: 50%; left: 15%; }
.checkbox label input[type="checkbox"] {display: none; }
.checkbox label input[type="checkbox"]+.cr>.cr-icon {opacity: 0; }
.checkbox label input[type="checkbox"]:checked+.cr>.cr-icon {opacity: 1; }
.checkbox label input[type="checkbox"]:disabled+.cr {opacity: .5; }
.modal-dialog.login-popup {
    max-width: 420px;
}
.fade {
    background: #00b4ff3d;
}

@media only screen and (min-width: 1025px){
    /*#myModalregistartion{transform: translate(177%,25%);}*/
    .login-form .modal-dialog {padding: 30px; transform: translate(10%,40%) !important; }
 }
/*HARISH WORK ENDS 12-9-2019*/


/*filter_page*/
#filter_page .container_filter {
    width: 1204px;
    max-width: 100%;
    margin: 0 auto;
}
 .filter_form {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #d9f4ff;
    max-width: 100%;
    border-radius: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0px;
}

.filter_form .form_content h2 {
    margin-top: 5px;
    font-family: poppins;
    font-size: 36px;
    font-weight: 400;
    color: #0051a0;
}
.filter_form form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid transparent;
    float: left;
    width: 80%;
    background: #00b4ff;
    border-radius: 5px;
    height: 50px;
}
.filter_form ::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 18px;
  font-family: poppins;
}

.filter_form form.example button {
      float: left;
    width: 13%;
    background: #0051a0;
    color: white;
    font-size: 32px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-left: 13px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 50px;
}

.filter_form form.example button:hover {
  background: #0b7dda;
}

.filter_form form.example::after {
  content: "";
  clear: both;
  display: table;
}
.circle_shape {
    top: 34px;
    left: 25px;
    width: 14px;
    height: 14px;
    background: #00b4ff;
    border-radius: 50%;
    position: absolute;
}
.circle_shape p {
    font-size: 8px;
    color: #fff;
    padding: 1px 5px;
    font-family: Poppins;
    line-height: 13px;
}
.listing_Section {
    position: relative;
    display: inline-block;
    width: 100%;
        padding-bottom: 40px;
}
/*.professior_img {
    text-align: left;
    width: 100px;
    display: inline-block;
}*/
.professior_img {
    width: 100px;
    display: inline-block;
    padding: 10px;
}
.professior_detaile {
    display: inline-block;
    vertical-align: top;
    padding-left: 22px;
    padding-top: 10px;
} 
.professior_img>img {
    max-width: 107px;
}
.detaile_ul li {
    list-style-type: none;
    float: left;
    padding: 0 3px;
    font-size: 16px;
    color: #dfdfe1;
}
.professior_detaile h3 {
    font-size: 18px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
    padding-top: 10px;
        letter-spacing: 0.5px;
}
.professior_detaile p {
    font-size: 12px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
        letter-spacing: 0.5px;
    /*padding-top: 10px;*/
}
.no_padding_3
{
    padding-left:  0px !important;
    padding-right:  0px !important;
}
.professior_detaile .detaile_ul .red {
    color: #ff757c;
}
.pro_info {
  display: inline-block;
    background: #f5f5f5;
    position: relative;
    width: 100%;
}
.pro_info .pro_left {
    text-align: left;
    width: 50%;
    display: inline-block;
    margin-right: 15px;
    padding-left: 11px;
    padding-top: 5px;
}

.pro_right ul li {
    list-style-type: none;
        padding: 1px 0;
}
.pro_info .pro_right {
    width: 42%;
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-top: 6px;
    padding-right: 6px;
}
.pro_left .h_1 p{
    font-size: 12px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
        letter-spacing: 0.5px;
}
.pro_left .h_1 h3{
        margin-top: 11px;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
        letter-spacing: 0.5px;
}
.pro_left .h_2 p{
    font-size: 12px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
        letter-spacing: 0.5px;
}
.pro_left .h_2 h3{
    margin-top: 11px;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
        letter-spacing: 0.5px;
}
.pro_right ul li>img {
    width: 22px;
    height: 22px;
}
.pro_info .btn_custom {
    color: #fff;
    background-color: #00b4ff;
    font-size: 18px !important;
    font-family: Poppins;
}
.pro_info .btn_custom_small{
    color: #fff;
    background-color: #00b4ff;
    font-size: 18px !important;
    font-family: Poppins;
}
.pro_info .btn-group, .btn-group-vertical {
    margin-bottom: 12px;
    margin-top: 9px;
}
.tab_right{
     font-size: 14px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.tab_right ul li {
    display: inline;
    padding: 10px 12px;
}
.tab_right {
    text-align: right;
    padding-top: 36px;
    padding-bottom: 40px;
}
.tab_right ul li:hover {
    border-bottom: 1px solid #000;
    cursor: pointer;
}
.secound_row {
    padding-top: 45px;
    position: relative;
     display: inline-block;
}
.third_row {
    padding-top: 45px;
    position: relative;
        padding-bottom: 138px;
    display: inline-block;
}
#filter_page .footer{
    background: #f2f2f2;
    vertical-align: top;
}

/*sidebar*/
.side_bar {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 59px;
    border-right: 2px solid #00b4ff;
    padding-right: 10px;
}
.filter_heading .filter_heading_span{
  color: #0051a0;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 500;
    letter-spacing: 1px;
    padding-left: 10px;
}
.filter_menu .btn {
    background-color: white;
    color: #000;
    padding: 6px 9px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #6d6e71;
    letter-spacing: 0.5px;
    transition: 0.2s;
}
/* Darker background on mouse-over */
.filter_menu .btn:hover {
  background-color: #eee;
}

.filter_option {
    position: relative;
    display: inline-block;
    width: 100%;
}
.side_bar [type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.side_bar [type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
      position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #0051a0;
    font-size: 16px;
    font-weight: 300;
    font-family: Poppins;
}
.side_bar [type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
.filter_option ul li {
    list-style-type: none;
        padding-top: 9px;
}
#slider-range {
    margin-top: 20px;
    margin-right: 20px;
}
.side_bar [type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
        content: '';
    width: 12px;
    height: 12px;
    background: #00b4ff;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.side_bar [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.side_bar [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.side_bar a:focus, a:hover {
    color: #23527c;
    text-decoration: none !important;
}
.list_dropdown {
    color: #0051a0;
    font-size: 16px;
    font-weight: 300;
    font-family: Poppins;
}
.down_icon {
    color: #0051a0;
    font-size: 24px;
    font-weight: 300;
    padding-right: 9px;
}
.filter_submenu li {
    padding-left: 36px;
}
.filter_submenu {
    padding-bottom: 10px;
}
i.fa.fa-angle-down {
    font-size: 24px;
    padding-right: 9px;
}
.filter_option .btn_custom {
    color: #fff !important;
    background-color: #00b4ff;
    font-size: 18px !important;
    font-family: Poppins;
}
.filter_option .btn_custom_small {
    color: #fff !important;
    background-color: #0051a0;
    /*border: 1px solid #fff;*/
    font-size: 18px !important;
    font-family: Poppins;
}

.filter_option .btn-group.dropup {
    margin-top: 71px;
}
/*sidebar-end*/

/*profile_page*/
#profile_page .container_filter {
    width: 1204px;
    max-width: 100%;
    margin: 0 auto;
}
.profile_section {
    position: relative;
    display: inline-block;
    width: 100%;
    background:#f5f5f5;
}
.profile_section .ratting_ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 16px;
    color: #d4d4d5;
}
.ratting_ul {
    padding-top: 20px;
    text-align: center;
}
.ratting_ul .red {
    color: #ff757c !important;
}
.profile_info h2 {
    color: #0051a0;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 1px;
}
.profile_info h3 {
    color: #0051a0;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
        margin-top: 10px;
}
.pro_ul_img li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 2px;
}
.profession_detaile p {
    color: #000;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.profession_detaile h3 {
    color: #000;
    font-size:18px;
    letter-spacing: 0.5px;
     font-family: Poppins;
    font-weight: 400;
}
.pro_amount_left p {
    color: #000;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.pro_amount_left h3 {
    color: #000;
    font-size:18px;
    letter-spacing: 0.5px;
     font-family: Poppins;
    font-weight: 400;
}
.pro_amount_right p {
    color: #000;
    font-size: 12px;
    letter-spacing: 0.5px;
}
.pro_amount_right h3 {
    color: #000;
    font-size:18px;
    letter-spacing: 0.5px;
     font-family: Poppins;
    font-weight: 400;
}
.profile_img {
    padding-top: 15px;
    overflow: hidden;
}
.profile_info {
    padding-top: 10px;
}
.pro_ul_img li>img {
    width: 30px;
    height: 30px;
}
.left-no_spacing {
    padding-left:0px !important;
}
.pro_amount_left {
    padding-top: 0px;
}
.profile_img>img {
    width: 100%;
    height: auto;
}


/* Style the tab */
.tab {
    float: left;
    background-color: #f1f1f1;
    width: 18%;
    height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
   display: block;
    background-color: #fff;
    color: black;
    padding: 23px 30px;
    width: 100%;
    border-right: 5px solid #e5e5e5;
    outline: none;
    text-align: left;
    cursor: pointer;
    /*transition: 0.1s;*/
    font-size: 17px;
    border-top: none;
    border-left: none;
    border-bottom: none;
}

/* Change background color of buttons on hover */
/*.tab button:hover {
  background-color: #ddd;
}
*/
/* Create an active/current "tab button" class */
.tab button.active {
    background-color: #d9f4ff;
    border-right: none;
}
/* Style the tab content */
.tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    width: 82%;
    border-left: none;
    height: 300px;
    background-color: #d9f4ff;
}
.tabcontent>video {
    margin-top: 16px;
    width: 367px;
    height: 269px;
    margin-left: 6px;
}
.img-rounded {
    border-radius: 11px;
}
.right_spacing{
    padding-right: 0px !important;
}


/*search-top*/
.top_search{
        position: relative;
    display: inline-block;
    width: 100%;
    background: #d9f4ff;
    padding: 15px;
    vertical-align: top;
}
.top_search .form-control {
    height: 50px;
    padding: 6px 12px;
    border: 1px solid #0051a0;
}
.top_search .input-group-addon {
   
    color: #555;
    text-align: center;
    background-color: #fff;
    border: 1px solid #0051a0;
    
    border-right: none !important;
}
.top_search .calender_input .form-control {
    height: 50px;
    padding: 6px 12px;
    border: 1px solid #0051a0;
    border-left: none;
}
.profile_menu {
    position: relative;
    width: 100%;
    background: #f5f5f5;
    text-align: center;
}
.inline_menu ul li a {
    border-right: 1px solid #94c3d9;
    padding-right: 20px;
    color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins;
}
.inline_menu ul li {
    list-style-type: none;
    display: inline-block;
    padding: 30px 20px;
}
.inline_menu ul li a>img {
    padding-right: 10px;
}
.profilemain_heading h2 {
    font-size: 18px;
    color: #000;
    font-family: Poppins;
}
.profilemain_heading {
    text-align: center;
    padding-bottom: 32px;
    padding-top: 10px;
}
.calender_input ::placeholder {
    color: #0051a0 !important;
    font-size: 18px;
    font-weight: 400;
    font-family: Poppins;
    letter-spacing: 0.5px;
}
.calender_input i.fa.fa-calendar {
    color: #0051a0 !important;
    font-size: 18px;
    font-weight: 400;
}
.profile_section iframe {
    width: 96%;
    /* padding: 11px; */
    height: 278px;
    padding-top: 24px;
    padding-left: 18px;
}
.calender_img>img {
    width: 100%;
}
.tabcontent h3{
     color: #000;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins;
    letter-spacing: 0.5px;
}
.tabcontent p {
    font-size: 14px;
    font-family: Poppins;
    color: #000;
    letter-spacing: 1px;
    line-height: 19px;
    padding-top: 22px;
    text-align: justify;
}
.cerca_Section {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 25px;
}
#profile_page .footer {
    /*background: #f2f2f2;*/
    border-top:1px solid #f2f2f2;
    vertical-align: top;
}
.top_header .navbar-default .navbar-nav>li>a i.fa.fa-star-o {
    color: #0051a0;
    font-size: 21px;
}
.top_header .navbar-default .navbar-nav>li>a i.fa.fa-smile-o {
    color: #0051a0;
    font-size: 21px;
}
.top_header .navbar-default .navbar-nav>li>a i.fa.fa-bell-o {
    color: #0051a0;
    font-size: 21px;
}
/*search-top-end*/
/*profile_page-end*/

/*profile_student*/
.blue_bg {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #d9f4ff;
    padding: 20px;
        margin-bottom: 25px;
}
.profile_detail {
    position: relative;
    display: inline-block;
    width: 100%;
        background: #ffffff;
        border-radius: 5px;
             padding-top: 17px;
    padding-bottom: 17px;
}
.profil_img_face {
      text-align: center;
    padding-top: 10px;
    border: 2px solid #00b4ff;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: 18px;
    margin-left: 17px;
}

.profil_img_face i.fa.fa-smile-o {
    font-size: 77px;
    color: #0051a0;
}

.profil_name_detail h2 {
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
}

.profil_name_detail h3 {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
}

.profil_name_detail p {
    color: #00b4ff;
    font-size: 14px;
    letter-spacing: 0.5px;
}
.profil_name_detail .in_para_p {
    font-size: 24px;
    margin-right: 10px;
}
.bg_boxes{
   position: relative;
    display: inline-block;
    width: 100%;
    background: #ffffff;
    border-radius: 5px;
     padding-top: 17px;
    padding-bottom: 17px;
}
.bg_boxes .box1 h3 {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.5px;
    margin-top: 13px;
}
.bg_boxes .box1 h2 {
    font-size: 70px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
}
.bg_boxes .box1 {
    border-right: 1px solid #ccc;
}
.bg_boxes .box2 h3 {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.5px;
    margin-top: 13px;
}
.bg_boxes .box2 h2 {
    font-size: 70px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
}
.bg_boxes .box2 {
    border-right: 1px solid #ccc;
    padding-right: 20px;
}
.bg_boxes .box3 h3 {
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.5px;
    margin-top: 13px;
}
.bg_boxes .box3 h2 {
    font-size: 70px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
}
.bg_boxes .box3 {
}
.saldo{
     position: relative;
    display: inline-block;
    width: 100%;
        background: #ffffff;
        border-radius: 5px; 
    }
    .saldo p{
             font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.5px;
    padding-top: 5px;
    }
    .saldo .saldo_hr {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 111px;
    max-width: 100%;
    margin: 0 auto;
    color: #eee;
    border: 1px solid #eee;
}
.saldo h3{
   font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.5px;
    margin-top: 0px;
    margin-bottom: 0;
}
.saldo h2{
  font-size: 70px;
    font-family: Poppins;
    font-weight: 400;
    color: #000000;
    margin-top: 0px;
        margin-bottom: 0px;
}
.saldo .in-saldo_para{
        color: #00b4ff;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.insegnante_testimonial {
    position: relative;
    display: inline-block;
    width: 100%;
}

.insegnante_img {text-align: left;width: 100px;display: inline-block;margin-left: 10px;}

.insegnante_detaile {display: inline-block;vertical-align: top;padding-left: 50px;}

.insegnante_detaile_ul li {
    display: inline;
}
ul.insegnante_detaile_ul li {
    list-style-type: none;
    float: left;
    padding: 0 3px;
    font-size: 16px;
    color: #dfdfe1;
}

.insegnante_detaile_ul .red {
    color: #ff757c;
}

.insegnante_detaile h3 {
    font-size: 18px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
    padding-top: 10px;
    letter-spacing: 0.5px;
}

.insegnante_detaile p {
    font-size: 12px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.insegnante_pro_info {display: inline-block;background: #f5f5f5;position: relative;width: 100%;}

.insegnante_pro_left {
    text-align: left;
    width: 50%;
    display: inline-block;
    margin-right: 15px;
    padding-left: 11px;
    padding-top: 5px;
}
.insegnanti_section .insegnanti_testimonial_section{
    position: relative;
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-top: 60px;
    /*padding-top: 53px;*/
}

.insegnante_pro_left .h_1 p {
    font-size: 12px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.insegnante_pro_left .h_1 h3 {
    margin-top: 11px;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.insegnante_pro_left .h_2 p {
    font-size: 12px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.insegnante .btn-group, .btn-group-vertical {
    margin-bottom: 15px;
}
.insegnante_pro_left .h_2 h3 {
    margin-top: 11px;
    font-size: 18px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.insegnante_pro_info .insegnante_pro_right {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    padding-top: 6px;
    padding-right: 6px;
    position: absolute;
    right: 4px;
    top: 0;
}

.insegnante_pro_right ul li {
    list-style-type: none;
    padding: 1px 0;
}

.insegnante_pro_right ul li>img {
    max-width: 22px;
    height: 22px;
}
.insegnante_pro_info .btn_custom_small {
    color: #fff;
    background-color: #00b4ff;
    font-size: 18px !important;
    font-family: Poppins;
}
.insegnante_pro_info .btn_custom {
    color: #fff;
    background-color: #00b4ff;
    font-size: 18px !important;
    font-family: Poppins;
}
.insegnanti_section{
    position: relative;
}
.insegnanti_heading::before {
       position: absolute;
    top: 19px;
    left: 398px;
    width: 339px;
    height: 2px;
    z-index: 1;
    border: 1px solid #00b4ff;
    content: "";
}
.insegnanti_heading::after {
       position: absolute;
    top: 19px;
    right: 398px;
    width: 339px;
    height: 2px;
    z-index: 1;
    border: 1px solid #00b4ff;
    content: "";
}
.insegnanti_section .insegnanti_heading {
    text-align: center;
    color: #0051a0;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.insegnanti_section .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 37px;
}
.insegnanti_section .insegnante_btn .btn_custom {
    color: #fff;
    background-color: #00b4ff;
    font-size: 24px !important;
    font-family: Poppins;
}
#student_registration_page .footer {
    border-top: 1px solid #f2f2f2;
    vertical-align: top;
}
#student_registration_page .owl-dots {
    padding-bottom: 37px;
}
/*profile_student-end*/

/*prenota1*/

.prenota1_img>img {
    width: 86px;
    border: 4px solid #00b4ff;
    border-radius: 50%;
    height: 86px;
}
.prenota1_profile_display {
    position: relative;
    display: inline-block;
    width: 100%;
    padding-top: 25px;
}


.profilemain_user-info h2 {
    color: #0051a0;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.profilemain_user-info h3 {
    color: #0051a0;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 0px;
}
.prenot_designation {
    position: relative;
}

.pre_display1 {
    display: inline-block;
}
.pre_display2 {
    display: inline-block;
    padding-left: 22px;
}

.pre_display1 p {
    color: #000;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.profilemain_rating .p_para1{
     color: #000;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.pre_display2 p {
    color: #000;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
    display: block;
}
.bg_gray {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
}
.profilemain_ratting_ul li {
    list-style-type: none;
    float: left;
    padding: 0 3px;
    font-size: 16px;
}
.profilemain_rating {
    position: relative;
    display: block;
    width: 100%;
    border-left: 1px solid #0051a0;
    padding: 14px;
}


.profilemain_ratting_ul {
    display: inline-block;
}
.profilemain_ratting_ul .red {
    color: #ff757c;
}
.profilemain_rating .p_para2 {
    color: #000;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.prenotal_content_div .prenotal_heading {
    color: #0051a0;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}
.prenotal_hr {
    border: 1px solid #0051a0;
}
.prenotal_content_div .file_text {
    font-size: 25px;
    padding-right: 9px;
}
.prenotal_content_div p {
    color: #000;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 24px;
}
.profilemain_side {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #f5f5f5;
    border-radius: 5px;
}
.tab_first {
    display: inline-block;
    width: 100%;
    padding: 20px 10px;
}
.btn_full_width .btn-group {
    width: 100%;
}
.tab_1 {
       display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}
.tab_2 {
   display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
}
.profilemain_side .btn_custom {
    color: #fff;
    background-color: #00b4ff;
    font-size: 18px !important;
    font-family: Poppins;
    letter-spacing: 0.5px;
    width: 85%;
    padding-right: 171px;
}
.profilemain_side .btn_custom_small {
    color: #fff;
    background-color: #00b4ff;
    font-size: 18px !important;
}
.profilemain_info p{
    color: #000;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 0px
}
.btn_full_width .btn-group, .btn-group-vertical {
    margin-bottom: 29px;
}
.profilemain_euro p{
    color: #000;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 0px;
}
.btn_full_width {
    padding-left: 12px;
}
.calender_display {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #f5f5f5;
    padding: 20px;
    margin-top: 20px;
}

.calender_display h2 {
  color: #0051a0;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    margin-top: 0px;
    padding-bottom: 10px;
}

.calender_display i.fa.fa-calendar {
    font-size: 24px;
    padding-right: 10px;
}

.calender_display p {
    text-align: center;
    color: #000;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    text-transform: uppercase;
}
.calender_display .btn_custom {
    color: #fff;
    background-color: #00b4ff;
    font-size: 18px !important;
    font-family: Poppins;
    letter-spacing: 0.5px;
    width: 83%;
    padding-right: 171px;
}
.calender_display i.fa.fa-angle-left {
    color: #02b4ff;
    padding-right: 6px;
}

.calender_display i.fa.fa-angle-right {
    color: #02b4ff;
    padding-left: 6px;
}

.calender_display>img {
    width: 100%;
    height: auto;
}
.calender_btn {
    width: 100%;
    margin-top: 20px;
    position: relative;
}
.calender_display .calender_btn .btn_custom_small {
    color:#fff !important;
    background-color: #00b4ff;
    font-size: 18px !important;
}
.calender_btn .btn-group, .btn-group-vertical {
    margin-bottom: 0px;
    width: 100%;
}
.profile_description {
    position: relative;
    width: 100%;
    display: inline-block;
        margin-bottom: 50px;
}


.description_box1 {
    position: relative;
    width: 100%;
    display: inline-block;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 20px 10px 73px 10px;
}
.description_box1 h2 {
    font-size: 18px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 0px;
}
.description_box1 hr {
    height: 1px;
    background: #0051a0;
}
.description_1 {
    /*padding: 20px 10px;*/
    display: inline-block;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 5px;
}
.d_left p {
    color: #000;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 0px;
}
.d_right p {
    color: #000;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    padding: 10px;
    margin-bottom: 0px;
}
.description_box2 {
    position: relative;
    width: 100%;
    display: inline-block;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 20px 10px;
}
.description_box2 h2 {
    font-size: 18px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 0px;
}
.description_box2 hr {
    height: 1px;
    background: #0051a0;
}
.description_box2>img {
    width: 100%;
    height: auto;
    max-width: 248px;
    margin: 0 auto;
}
.description_box3 {
    position: relative;
    width: 100%;
    display: inline-block;
    background: #f5f5f5;
    border-radius: 5px;
       padding: 20px 10px;
}
.description_box3 h2 {
    font-size: 18px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-top: 0px;
    text-transform: uppercase;
}
.description_box3 hr {
height: 1px;
    background: #0051a0;
    margin: 15px 0px;
}
.description_box3>img {
  width: 100%;
    height: auto;
    max-width: 100px;
    border-radius: 50%;
    border: 3px solid #00b4ff;
    padding: 5px;
    
}
.description_box3 .p_detail{
     color: #444444;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: inline-block;
}
.description_box3 p {
    color: #444444;
    font-size: 16px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: inline-block;
    padding-left: 10px;
}
.description_box3 .p_heading{
    color: #0051a0;
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    display: inline-block;
    padding-top: 15px;
}
.calender_display .calender_btn i.fa.fa-angle-right {
    color: #fff;
    padding-left: 6px;
}
/*prenota1_end*/

/*msg_section*/
.msg_section {
    position: relative;
    display: inline-block;
    width: 100%;
    background: #d9f4ff;
    text-align: center;
    color: #fff;
}
.msg_heading h2 {
    color: #0051a0;
    font-size: 30px;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
    padding-top: 10px;
}
.msg_nav {
    position: relative;
    display: inline-block;
    width: 100%;
        padding: 20px 0;
}

.msg_nav ul li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 20px;
    letter-spacing: 0.5px;
}

.msg_nav ul {
    text-align: right;
    margin-top: 10px;
}
.msg_nav ul li:last-child {
border-right:none;
}
.msg_nav ul li {
border-right:1px solid #000;
}
.msg_nav ul li a {
    color: #000;
    font-size: 18px;
}
.msg_nav ul li:hover {
    border-bottom: 1px solid #0051b5;
}
.msg_boxes {
    position: relative;
    display: inline-block;
    width: 100%;
}
.msg_in_box {
    position: relative;
    display: inline-block;
    width: 100%;
   background-color: #f5f5f5;
    padding-top: 25px;
    border-radius: 5px;
        padding-bottom: 25px;
        margin-bottom: 20px;
}
.msg_btn .btn-group, .btn-group-vertical {
    margin-bottom:0px;
}
.msg_btn {
    padding-top: 25px;
}

.msg_img>img {
    width: 86px;
    border-radius: 50%;
    height: 86px;
    border: 4px solid #00b4ff;
}

.msg_heading {
    position: relative;
}
.msg_heading .in_heading::before {
   position: absolute;
    top: 38%;
    left: 0px;
    width: 20%;
    height: 2px;
    z-index: 1;
    border: 1px solid #00b4ff;
    content: "";
}
.msg_heading .in_heading::after {
   position: absolute;
    top: 38%;
    right: 0px;
    width: 20%;
    height: 2px;
    z-index: 1;
    border: 1px solid #00b4ff;
    content: "";
}
.msg_heading_detail h2 {
  font-size: 24px;
    color: #000;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
        padding-top: 10px;
}

.msg_profile_name h2 {
    font-size: 24px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.msg_profile_name p {
    font-size: 16px;
    color: #0051a0;
    font-family: Poppins;
    font-weight: 400;
    letter-spacing: 0.5px;
}
.msg_btn .btn_custom {
    color: #fff;
    background-color: #00b4ff;
    font-size: 18px !important;
    font-family: Poppins;
}
.msg_btn .btn_custom_small {
    color: #fff;
    background-color: #00b4ff;
    border: none;
    font-size: 19px !important;
}
/*msg_section-end*/

@media only screen and (max-width:1140px) {
.profile_img>img {
    width: 100%;
    height: auto;
}
}

@media only screen and (max-width:1199px) {
.description_box3 {
    height: 419px;
}
.description_box2 {
    height: 419px;
}
.description_box1 {
    height: 419px;
}
}
@media only screen and (min-width:992px) and (max-width:1199px) 
{
    .msg_btn .btn_custom {
    font-size: 14px !important;
    width: 68%;
    }
    .msg_btn .btn-group, .btn-group-vertical {
    width: 100%;
    }
    .msg_btn .btn_custom_small {
        font-size: 16px !important;
    }
    .calender_display .btn_custom {
        width: 79%;
    }
    .profilemain_side .btn_custom {
        width: 80%;
    }
    .calender_display .btn_custom {
        font-size: 16px !important;
    }
    .profilemain_side .btn_custom {
        font-size: 16px !important;
    }
    .profilemain_side .btn_custom_small {
        font-size: 16px !important;
    }
    .calender_display .calender_btn .btn_custom_small {
        font-size: 16px !important;
    }

}

@media only screen and (max-width:991px) {
    .navbar-nav {
    margin-top: 50px;
    }
    .prenota1_img>img {
    width: auto;
    }   
    .description_box2 {
    margin: 20px 0;
}
.profilemain_rating {
    border-left: none;
}
.search_section form {
    padding-bottom: 15px;
}
.top_search {
    margin-top: 20px;
}
}

@media only screen and (max-width: 767px) {
    .msg_section {
    margin-top: 20px;
    }
    .msg_heading h2 {
    font-size: 24px;
}
    .foot_1 {
    padding-bottom: 20px;
}
    .foot_4 {
    text-align: left;
}
    .navbar-nav {
    background: #eee;
    margin: 49px 0px !important;
}
.tab button {
    padding: 13px 1px;
    width: 100%;
    text-align: center;
    font-size: 17px;
}
.prenota1_profile_display {
    text-align: center;
}
.inline_menu ul li {
    padding: 28px 1px;
}
.inline_menu ul li a {
    font-size: 12px;
}
.inline_menu ul li a>img {
    padding-right: 6px;
    width: 20px;
}

.tab {
    width: 100%;
    height: auto;
}
.tab button {
    display: inline-block;
    width: 31%;
}
.profile_img>img {
    width: 100%;
    height: auto;
}
.tabcontent {
    width: 100%;
    height: auto;
}
.profession_detaile h3{
    font-size: 14px;
}
.profile_info h3{
    font-size: 14px;
}
.pro_amount_left h3{
    font-size: 14px;
}
.profilemain_heading h2 {
    font-size: 16px;
}
.profile_info h2{
    font-size: 20px;
}
}
@media only screen and (max-width:470px) {
    .msg_nav ul li {
    padding: 10px 10px;
    }
    .msg_nav ul li a {
    font-size: 14px;
    }
    .inline_menu ul li a{
            border-right:none;
    }
.inline_menu ul li a>img {
    padding-right: 6px;
    width: 17px;
}
.inline_menu ul li a>img {
    padding-right: 6px;
    width: 17px;
}
.inline_menu ul li a {
    padding-right: 0px;
    font-size: 9px;
}
.inline_menu ul li {
    padding: 16px 1px;
}
.pro_amount_left p {
    font-size: 10px;
     letter-spacing: 0px; 
}
.pro_amount_right p {
    font-size: 10px;
     letter-spacing: 0px; 
}
.profile_info .pull-right {
    float: left!important;
}
.pro_ul_img li>img {
    width: 25px;
    height: 25px;
}

}
@media only screen and (max-width:375px) {
    .msg_heading h2 {
    font-size: 18px;
}
.calender_display .btn_custom {
    width: 79%;
}
.profilemain_side .btn_custom {
    width: 80%;
}
.calender_display .btn_custom {
    font-size: 16px !important;
}
.profilemain_side .btn_custom {
    font-size: 16px !important;
}
.profilemain_side .btn_custom_small {
    font-size: 16px !important;
}
.calender_display .calender_btn .btn_custom_small {
    font-size: 16px !important;
}
.msg_heading_detail h2 {
    font-size: 18px;
}
.msg_profile_name h2 {
    font-size: 20px;
}
}

.filter-menu .price-range {
	padding-top: 15px;
	max-width: 200px;
	padding-bottom: 15px;
}

.price-range .slider-labels {
	margin-top: 10px;
	display: table;
	width: 100%;
	max-width: 170px;
	margin: 0 auto 20px;
}

.price-range .slider-labels .caption {
	display: table-cell;
	vertical-align: middle;
	color: #333;
}

.price-range .noUi-target {
	position: relative;
	direction: ltr;
}

.price-range .noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.price-range .noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

.price-range .noUi-handle {
	position: relative;
	z-index: 1;
}

.price-range .noUi-stacking .noUi-handle {
	z-index: 10;
}

.price-range .noUi-state-tap .noUi-origin {
	-webkit-transition: left 0.3s, top .3s;
	transition: left 0.3s, top .3s;
}

.price-range .noUi-state-drag * {
	cursor: inherit !important;
}

.price-range .noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.price-range .noUi-horizontal {
	height: 4px;
}

.price-range .noUi-horizontal .noUi-handle {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	left: -7px;
	top: -7px;
	background-color: #00b4ff;
}

.price-range .noUi-background {
	background: #D6D7D9;
}

.price-range .noUi-connect {
	background: #00b4ff;
	-webkit-transition: background 450ms;
	transition: background 450ms;
}

.price-range .noUi-origin {
	border-radius: 2px;
}

.price-range .noUi-target {
	border-radius: 2px;
}

.price-range .noUi-target.noUi-connect {
}

.price-range .noUi-draggable {
	cursor: w-resize;
}

.price-range .noUi-vertical .noUi-draggable {
	cursor: n-resize;
}

.price-range .noUi-handle {
	cursor: default;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.price-range .noUi-handle:active {
	border: 8px solid #345DBB;
	border: 8px solid rgba(53, 93, 187, 0.38);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	left: -14px;
	top: -14px;
}

.price-range [disabled].noUi-connect,
.price-range [disabled] .noUi-connect {
	background: #B8B8B8;
}

.price-range [disabled].noUi-origin,
.price-range [disabled] .noUi-handle {
	cursor: not-allowed;
}
#profile_page .inline_menu ul li a .form-control {
    display: inline-block;
    width: auto;
    margin-right: 9px;
}
.inline_menu .price-range .noUi-horizontal .noUi-handle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    left: -6px;
    top: -3px;
    background-color: #00b4ff;
}
.inline_menu .price-range .slider-labels {

    margin-top: 18px;
    display: table;
    width: 100%;
    max-width: 270px;
    margin-left: -17px;

}
.inline_menu .btn_custom_li {
    background: #0051a0;
    border: none;
    border-radius: 5px;
	color:#fff;
	padding: 0px 29px;
}
.top_search .chosen-container-multi .chosen-choices {
   
    padding: 10px 5px;
      background-image: none;
    border: 1px solid #0051a0;
    border-radius: 5px;
}
.banner_form form.example #category {
    padding: 10px;
    font-size: 17px;
    border: 1px solid transparent;
    float: left;
    width: 80%;
    background: #00b4ff;
    border-radius: 5px;
    height: 48px;
}

/*chat box css*/
.chatbox .mytext{
    border:0;padding:10px;background:whitesmoke;
}
.chatbox .text{
    width:75%;display:flex;flex-direction:column;
}
.chatbox .text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.chatbox .text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.chatbox .text-l{
    float:left;padding-right:10px;
}        
.chatbox .text-r{
    float:right;padding-left:10px;
}
.chatbox .avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:8%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}

.chatbox ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  

.disabled{pointer-events: none;
  cursor: default;}