
/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/
body {
    font-family: 'Open Sans', sans-serif;
}

 #wrapper {
    width: 100%;
    background: #242f3c;
}

#page-wrapper {
    padding: 15px 15px;
    min-height: 600px;
    background:#F3F3F3;
   
}
#page-inner {
    width:100%;
    margin:10px 20px 10px 0px;
    background-color:#fff!important;
    padding:10px;
    min-height:1200px;
}

.text-center {
    text-align:center;
}
.no-boder {
    border:1px solid #f3f3f3;
}
h2 {
    color: #f00;
}
h4 {
    padding-top:10px;
}
.square-btn-adjust {
    border: 0px solid transparent; 
   -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;

}
p {
    font-size:16px;
    line-height:25px;
    padding-top:20px;
}
/*==============================================
   DASHBOARD STYLES    
    =============================================*/
.panel-back {
    background-color:#F8F8F8;

}
   .noti-box {
min-height: 100px;
padding: 20px;
}

    .noti-box .icon-box {
display: block;
float: left;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}
.text-box p{
    margin: 0 0 3px;
}
.main-text {
    font-size: 25px;
    font-weight:600;
}
.set-icon {
    -webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;

}
    .bg-color-green {
background-color: #00CE6F;
color: #fff;
}
 .bg-color-blue {
background-color: #A95DF0;
color: #fff;
}
  .bg-color-red {
background-color: #DB0630;
color: #fff;
}
  .bg-color-brown {
background-color: #B94A00;
color: #fff;
}


 .icon-box-right {
display: block;
float: right;
margin: 0 15px 10px 0;
width: 70px;
height: 70px;
line-height: 75px;
vertical-align: middle;
text-align: center;
font-size: 40px;
}

 .main-temp-back {
background: #8702A8;
color: #FFFFFF;
font-size: 16px;
font-weight: 300;
text-align: center;
}
 .main-temp-back .text-temp {
font-size: 40px;
}
.back-dash {
    padding:20px;
    font-size:20px;
    font-weight:500;
      -webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
background-color:#2EA7EB;
color:#fff;
}
    .back-dash p {
        padding-top:16px;
        font-size:13px;
        color:#fff;
        line-height:25px;
        text-align:justify;
    }
    .back-footer-green {
    background-color: #009B50;
    border-top: 0px solid #fff;
}
     .back-footer-red {
    background-color: #AF0000;
    border-top: 0px solid #fff;
}
     .color-bottom-txt {
   color: #000;
font-size: 16px;
line-height: 30px;
}
     /*CHAT PANEL*/
 .chat-panel .panel-body {
height: 450px;
overflow-y: scroll;
}
 .chat-box {
margin: 0;
padding: 0;
list-style: none;
}
 .chat-box li {
margin-bottom: 15px;
padding-bottom: 5px;
border-bottom: 1px dotted #808080;
}
 .chat-box li.left .chat-body {
margin-left: 90px;
}
 .chat-box li .chat-body p {
margin: 0;
color: #8d8888;
}
.chat-img>img {
    margin-left:20px;
}

/*==============================================
    MENU STYLES    
    =============================================*/


.user-image {
    margin: 25px auto;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
max-height:170px;
max-width:170px;
}

.navbar-cls-top .navbar-brand {color: #fff;background-color: #f8f8f8;width: 260px;text-align: center;height: 100%;font-size: 30px;font-weight: 700;}

.navbar-cls-top .navbar-brand img {
    max-width: 100%;
}
.sidebar-collapse .nav > li > a.active-menu {
    background-color: #00ade9;
}

.arrow {
    float: right;
}


.fa.arrow:before {
    content: "\f104";
}
.dd-aerow {
    color: #fff;
    position: absolute;
    right: 20px;
    top: 19px;
}
.active > a > .fa.arrow:before {
    content: "\f107";
}


.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}

.nav-third-level li a {
    padding-left: 55px;
}
.sidebar-collapse , .sidebar-collapse .nav{
    background:none;
}
.sidebar-collapse .nav {
    padding:0;
}
.sidebar-collapse .nav > li > a {
    color:#fff;
    background: #242f3c;
    text-shadow:none;
}
.sidebar-collapse > .nav > li > a {
    padding:15px 10px;
}
.sidebar-collapse > .nav > li {
    /* border-bottom: 1px solid rgba(107, 108, 109, 0.19); */
}
.sidebar-collapse .nav > li > a:hover, .sidebar-collapse .nav > li > a:focus {
    background: #00ade9;
    outline: 0;
}

.nav-second-level > li > a:before ,
.nav-third-level > li > a:before {
    content:"";
    display:block;
    position:absolute;
    left:20px;
    width:15px;
    height:1px;
    background: #fff;
    top:20px;
}
.nav-second-level > li > a:after,
.nav-third-level > li > a:after {
    content:"";
    display:block;
    position:absolute;
    left:20px;
    width:1px;
    height:100%;
    background: #fff;
    top:0px;
    z-index:10;
}
.nav-second-level  > li:last-child > a:after,
.nav-third-level  > li:last-child > a:after {
    height:50%;
}
.nav-third-level > li > a:after,
.nav-third-level > li > a:before  {
    left:40px;
}
.navbar-side {
    border:none;
    background-color: #242f3c;
}
.navbar-cls-top {
    background-color: #fff;
    border-bottom:none;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}
.navbar-cls-top .navbar-brand:hover {
    background: #ffffff;
    color: #fff;
}

.navbar-default {
border:0px solid black;
     
}
.navbar-header {
    background: #A70303;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background-color: #B40101;
}
.navbar-default .navbar-toggle {
border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #FFF;
}
.nav > li > a > i {
    margin-right:10px;
}


.user_profile_top .square-btn-adjust {
    background-color: #00ade9;
}

.user_profile_top > li > a:hover, .user_profile_top > li > a:focus {
    color: #fff;
    background-color: #00ade9;
}

.navbar-default .navbar-nav.user_profile_top > li > a:hover, .navbar-default .navbar-nav.user_profile_top > li > a:focus {
    color: #fff;
    background-color: #00ade9;
}

/* User desktop icon*/
.user_wallet_icon {
    display: inline-block;
    padding-top: 15px;
}

.user_wallet_icon a {
    font-size: 25px;
    color: #242f3c;
}


/*********************** Dashboard Body **************************/

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.29);
}
.panel-back {
    background-color: #fff;
}

.panel_header {
    position: relative;
    width: 100%;
    margin: 0 0 20px;
}

.panel_header h3 {
    margin: 0 0px 0px;
    font-size: 20px;
    font-weight: 600;
    color: #00ade9;
}

.user_name_list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.user_name_list li {
    display: block;
    width: 100%;
    padding-bottom: 15px;
}

.user_name_list li span {
    background-color: #00ade9;
    padding: 6px;
    border-radius: 50px;
    display: inline-block;
    width: 35px;
    height: 35px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
}

.user_name_list li a {
    color: #333;
    text-transform: uppercase;
    font-size: 17px;
    text-decoration: none;
}

.card_btn {
    padding-top: 20px;
    position: relative;
    text-align: center;
}

.card_btn a {
    background-color: #00ade9;
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.29);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.29);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 300;
}

.card_btn a span {
    background-color: #fff;
    color: #333;
    font-size: 14px;
    text-align: center;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 50px;
}



/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
width: 50px;
height: 50px;
padding: 6px 0;
 -webkit-border-radius: 25px;
-moz-border-radius: 25px;
border-radius: 25px;
text-align: center;
font-size: 12px;
line-height: 1.428571429;
}

/*==============================================
    MEDIA QUERIES     
    =============================================*/
 
 @media(min-width:768px) {
     #page-wrapper{
               margin: 0 0 0 260px;
        padding: 15px 30px;
        min-height: 1200px;
        
    }
    
    
    .navbar-side {
        z-index: 1;
        position: absolute;
        width: 260px;
    }

   .navbar {
 border-radius: 0px; 
}
   
}


