html,
body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	color: #444444;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul,
ol,
li {
	list-style: none;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	margin: 0;
}

p
a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

a:focus,
a:hover {
	text-decoration: none;
	color: #fff;
}

img {
	max-width: 100%;
}

@media (min-width:1300px) {
	.container {
		max-width: 1470px;
	}

}

.full-width {
	width: 100%;
}

.full-width:before {
	content: '';
	display: table;
}

.full-width:after {
	content: '';
	clear: both;
}

.padd-global {
	padding: 70px 0;
}

.padd-global-bt {
	padding: 70px 0 0;
}

.page-heading {
	color: #0051a0;
	font-size: 35px;
	font-weight: 500;
	text-align: center;
	line-height: 1.3;
	margin: 0;
	font-family: 'Poppins', sans-serif;
}

/* Cstom css for home page */
.navigation .navbar-default {
	background-color: #fff;
	border-color: transparent;
}

.navigation .navbar {
	border-radius: 0px;
	margin-bottom: 0;
}

.navigation .navbar-brand {
	height: auto;
	padding: 15px 0;
}

.navigation .navbar-nav > li > a {
	padding-top: 35px;
	padding-bottom: 35px;
}

.navigation .navbar-nav > li > a span {
	color: #00b4ff;
}

.navigation .navbar-default .navbar-nav > li > a {
	color: #000;
}

.navigation .navbar-default .navbar-nav > li > a:focus,
.navigation .navbar-default .navbar-nav > li > a:hover {
	color: #000;
	background-color: transparent;
}

/* Banner --------------------- */
.banner-section {
	position: relative;
}

.banner-section .banner-img img {
	height: 582px;
	width: 100%;
	object-fit: cover;
	-webkit-object-fit: cover;
}

.banner-section .search-box {
	max-width: 900px;
	width: 100%;
	display: table;
	background: #fff;
	margin: 0 auto;
	padding: 20px;
	border-radius: 10px;
	margin-top: -120px;
	position: relative;
}

.heading,
.input-field,
.search {
	display: table-cell;
	vertical-align: middle;
}

.heading {
	font-size: 29px;
	color: #0051a0;
	max-width: 100px;
}

.input-field .form-control {
	background: #00b4ff;
	height: 47px;
	border-radius: 6;
	box-shadow: none;
	border: none;
}

.search {
	padding-left: 12px;
	width: 47px;
}

.search button[type="submit"] {
	width: 47px;
	height: 47px;
	background: #0051a0;
	text-align: center;
	border-radius: 6px;
	color: #fff;
	border: none;
}

.input-field .form-control::-webkit-input-placeholder {
	color: #fff;
}

.input-field .form-control::-moz-placeholder {
	color: #fff;
}

.input-field .form-control:-ms-input-placeholder {
	color: #fff;
}

.input-field .form-control:-moz-placeholder {
	color: #fff;
}

/* Members ----------------------- */
.members .owl-nav {
	display: none;
}

.members .owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
	margin: 5px;
	background: #7cd6fc;
}

.members .owl-theme .owl-dots .owl-dot.active span,
.members .owl-theme .owl-dots .owl-dot:hover span {
	background: #00b4ff;
}

.members h1 + p {
	margin: 30px auto 0;
	text-align: center;
	max-width: 1140px;
}

.member-person {
	padding: 50px 10px 0 10px;
	max-width: 1300px;
	margin: 0 auto;
}

.member-person .member {
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 25px;
}

.member-person .member-detail {
	background: #ececec;
	padding: 12px;
}

.member-person .member-detail h2 {
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 6px;
	color: #0051a0;
}

.member-person .member-detail h3 {
	font-size: 16px;
	font-weight: 400;
	color: #444444;
}

.member-pic {
	position: relative;
}

.member-pic ul {
	position: absolute;
	right: 5px;
	bottom: 10px;
}

.member-pic ul li {
	cursor: pointer;
}

.button-box {
	width: 100%;
	text-align: center;
	position: relative;
	z-index: 0;
	margin-top: 10px;
}

.button-box:after {
	content: '';
	width: 100%;
	height: 2px;
	background: #00b4ff;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	margin: 0 auto;
	z-index: -1;
}

.button-box a {
	background: #00b4ff;
	border-radius: 5px;
	padding: 6px 50px 6px 12px;
	color: #fff;
	position: relative;
	font-size: 20px;
	display: inline-block;
	box-shadow: 0px 0px 0px 5px #fff;
}

.button-box a .arrow {
	background: #0051a0;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	position: absolute;
	right: 0px;
	top: 0;
	height: 100%;
	width: 36px;
	line-height: 1.8;
}

.come-fun {
	background: #d9f4ff;
	margin-top: 150px;
}

.come-fun-detail {
	text-align: center;
	margin-top: -100px;
}

.come-fun .member-person.come-fun-zone {
	padding: 0px 0 50px;
}

.come-fun-img {
	margin-bottom: 20px;
}

.come-fun-content h3 {
	color: #0051a0;
	position: relative;
	padding-bottom: 20px;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
}

.come-fun-content h3:after {
	content: '';
	width: 100px;
	height: 2px;
	background: #0051a0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	position: absolute;
}

.come-fun-content p {
	margin-top: 20px;
}

.content-info .member-person {
	padding-top: 0;
}

.content-info .page-heading {
	padding-top: 50px;
	padding-bottom: 120px;
	border-right: 2px solid #44c8ff;
}

.content-info h4 {
	color: #44c8ff;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	margin-bottom: 12px;
}

.reviews {
	background: #f8f8f8;
	padding: 50px 0;
}

.name-pic {
	display: table;
	width: 100%;
}

.pic {
	display: table-cell;
	width: 100px;
	vertical-align: middle;
}

.name {
	display: table-cell;
	vertical-align: middle;
}

.reviews .owl-carousel .owl-item img {
	width: 80px;
}

.reviews .owl-nav {
	display: none;
}

.reviews .owl-theme .owl-dots .owl-dot span {
	width: 15px;
	height: 15px;
	margin: 5px;
	background: #7cd6fc;
}

.reviews .owl-theme .owl-dots .owl-dot.active span,
.reviews .owl-theme .owl-dots .owl-dot:hover span {
	background: #00b4ff;
}

.pic img {
	width: 80px;
	height: 80px;
	border-radius: 100%;
	padding: 5px;
	border: 1px solid #19bbfe;
}

.name h5 {
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}

.reviwe-con h3 {
	color: #0051a0;
	position: relative;
	padding: 20px 0 10px;
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
}

.content-part {
	background: url(../images/banner-3.jpg) center center no-repeat;
	background-size: cover;
	height: 525px;
	position: relative;
}

.content-part-detail {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;
	background: rgba(103, 203, 243, 0.8);
	padding: 100px;
}

.content-part-detail h3 {
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	color: #fff;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 15px;
}

.content-part-detail p {
	font-size: 18px;
	color: #fff;
}

.content-part-detail .button-box {
	text-align: left;
}

.content-part-detail .button-box {
	margin-top: 40px;
}

.content-part-detail .button-box a {
	box-shadow: none;
	background: #fff;
	color: #0051a0;
}

.content-part-detail .button-box .arrow {
	text-align: center;
	color: #fff;
}

.content-part-detail .button-box:after {
	display: none;
}

.footer {
	padding: 40px 0;
}

.log-footer img {
	max-width: 120px;
}

.footer .footer-link ul li {
	display: block;
}

.footer .footer-link ul li a {
	color: #444;
}

.footer .social-link {
	text-align: right;
}

.footer .social-link ul li {
	display: inline-block;
}

.footer .social-link ul li.follow {
	margin-right: 50px;
}

.footer .social-link ul li a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	line-height: 50px;
}

.footer .social-link ul li a.twitter {
	color: #28aae1;
	border: 1px solid #28aae1;
}

.footer .social-link ul li a.facebook {
	color: #385797;
	border: 1px solid #385797;
}

.footer .social-link ul li a.linkdin {
	color: #007bb5;
	border: 1px solid #007bb5;
}

/*Order list */
.orderlist {
	position: relative;
	text-align: right;
}

.orderlist>ul {
	list-style: none;
}

.orderlist>ul>li {
	display: inline-block;
}

.orderlist>ul>li>a {
	color: #000;
	padding: 0px 10px;
}

.orderlist>ul>li>a:hover {
	text-decoration: underline;
}

/* Member grid */
.filter {
	display: table;
	width: 100%;
}

.filter .filter-head {
	display: table-cell;
	vertical-align: middle;
}

.filter .reset-filter {
	display: table-cell;
	vertical-align: middle;
	text-align: right;
}

.filter .reset-filter button {
	font-size: 12px;
	font-weight: 300;
	padding: 3px 6px;
	border-radius: 10px;
	border: 1px solid #999;
}

.filter .filter-head h2 {
	color: #0051a0;
	font-size: 20px;
}

.filter-menu {
	margin-top: 20px;
}

.filter-menu ul li {
	color: #0051a0;
	font-weight: 300;
	font-size: 16px;
	cursor: pointer;
	margin: 8px 0;
}

.filter-menu ul li label {
	font-weight: 300;
}

.filter-menu ul li i,
.filter-menu ul li input[type="radio"] {
	margin-right: 20px;
}

.filter-menu .price-range {
	padding-top: 15px;
	max-width: 200px;
	padding-bottom: 15px;
}

.price-range .slider-labels {
	margin-top: 10px;
	display: table;
	width: 100%;
	max-width: 170px;
	margin: 0 auto 20px;
}

.price-range .slider-labels .caption {
	display: table-cell;
	vertical-align: middle;
	color: #333;
}

.price-range .noUi-target {
	position: relative;
	direction: ltr;
}

.price-range .noUi-base {
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 1;
}

.price-range .noUi-origin {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
	bottom: 0;
}

.price-range .noUi-handle {
	position: relative;
	z-index: 1;
}

.price-range .noUi-stacking .noUi-handle {
	z-index: 10;
}

.price-range .noUi-state-tap .noUi-origin {
	-webkit-transition: left 0.3s, top .3s;
	transition: left 0.3s, top .3s;
}

.price-range .noUi-state-drag * {
	cursor: inherit !important;
}

.price-range .noUi-base,
.noUi-handle {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.price-range .noUi-horizontal {
	height: 4px;
}

.price-range .noUi-horizontal .noUi-handle {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	left: -7px;
	top: -7px;
	background-color: #00b4ff;
}

.price-range .noUi-background {
	background: #D6D7D9;
}

.price-range .noUi-connect {
	background: #00b4ff;
	-webkit-transition: background 450ms;
	transition: background 450ms;
}

.price-range .noUi-origin {
	border-radius: 2px;
}

.price-range .noUi-target {
	border-radius: 2px;
}

.price-range .noUi-target.noUi-connect {
}

.price-range .noUi-draggable {
	cursor: w-resize;
}

.price-range .noUi-vertical .noUi-draggable {
	cursor: n-resize;
}

.price-range .noUi-handle {
	cursor: default;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.price-range .noUi-handle:active {
	border: 8px solid #345DBB;
	border: 8px solid rgba(53, 93, 187, 0.38);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	left: -14px;
	top: -14px;
}

.price-range [disabled].noUi-connect,
.price-range [disabled] .noUi-connect {
	background: #B8B8B8;
}

.price-range [disabled].noUi-origin,
.price-range [disabled] .noUi-handle {
	cursor: not-allowed;
}

.filter-menu .button-box {
	margin-top:30px;
	text-align: left;
}

.filter-menu .button-box .arrow {
	text-align: center;
}

.filter-menu .button-box:after {
	display: none;
}

.member_grid {
	margin-top: 30px;
}

.search-wrapper {
	background: #d9f4ff;
	padding: 20px 0;
}

.search-wrapper .search-box {
	max-width: 400px;
	width: 100%;
	display: table;
}

.member-card-box {
	margin-bottom: 30px;
}

.member-card {
	position: relative;
	margin-top: 40px;
}

.membar-review {
	position: relative;
	width: 100%;
	display: table;
	padding: 10px;
}

.member-pix {
	display: table-cell;
	vertical-align: top;
	width: 104px;
}

.text {
	display: table;
	vertical-align: top;
	text-align: left;
	padding-left: 20px;
}

.member_grid .review {
	list-style: none;
}

.member_grid .review>li {
	display: inline-block;
}

.member_grid .review>li>a {
	color: #ddd;
	font-size: 16px;
}

.member_grid .review>li>a.color {
	color: #ff777e;
}

.text h3 {
	color: #0051a0;
	margin-top: 5px;
	margin-bottom: 9px;
	font-size: 20px;
}

.text h4 {
	font-size: 13px;
	color: #0051a0;
}

.detail-bx {
	background-color: #f5f5f5;
	padding: 10px 10px 15px;
	position: relative;
	text-align: center;
	display: block;
}

.text-name {
	position: relative;
	margin-bottom: 15px;
	text-align: left;
	padding-bottom: 10px;
}

.text-name small {
	font-size: 13px;
}

.text-name h3 {
	font-size: 20px;
}

.view-more {
	background-color: #00b4ff;
	max-width: 217px;
	text-align: center;
	display: block;
	margin: auto;
	border-radius: 5px;
	padding: 8px 20px;
}

.view-more>a {
	color: #fff;
	display: inline-block;
	vertical-align: top;
	font-size: 18px;
	width: 100%;
}

.view-more>a .fa-angle-right {
	text-align: right;
	float: right;
	margin-top: 3px;
}

.check_list {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 2;
}

.team-members .come-fun-content h3 {
	padding-bottom: 0;
}

.team-members .come-fun-content p {
	margin-top: 10px;
}

.team-members .come-fun-content h3:after {
	display: none;
}

.team-members .come-fun-content a {
	width: 50px;
	height: 50px;
	border-radius: 100%;
	display: inline-block;
	text-align: center;
	line-height: 50px;
	color: #007bb5;
	border: 1px solid #007bb5;
}

.team-members .come-fun-img {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 100%;
	background: #fff;
	position: relative;
}

.team-members .come-fun-img img {
	width: 180px;
	height: 180px;
	border-radius: 100%;
	border: 2px solid #0051a0;
	padding: 10px;
	position: absolute;
	left: 0;
	right: 0;
	top: 10px;
	margin: 0 auto;
}

.our-client {
	background: #fff;
}

.our-client ul {
	text-align: center;
	display: table;
	width: 100%;
}

.our-client ul li {
	display: table-cell;
	width: 122px;
	vertical-align: middle;
}

/* Media query ----------------------------- */

@media screen and (max-width: 992px) {
	.navigation .container {
		width: 100%;
	}

	.footer .container {
		width: 100%;
	}

	.navigation .navbar-brand {
	    padding: 15px 15px;
	}

	.navigation .nav > li > a {
		padding: 35px 7px;
		font-size: 14px;
	}

	.navigation .navbar-brand > img {
		max-width: 140px;
	}

	.banner-section .search-box {
		width: 90%;
	}

	.content-part {
		height: auto;
		text-align: right;
	}

	.content-part-detail {
		position: static;
		padding: 30px;
		display: inline-block;
	}

	.content-part-detail h3,
	.content-part-detail p {
		text-align: left;
	}

	.banner-section .banner-img img {
		height: auto;
	}

	.our-client ul li {
		width: 110px;
	}

}

@media screen and (max-width: 768px) {

	.navigation .nav > li > a {
		padding: 5px 7px;
		font-size: 14px;
	}

	.padd-global {
		padding: 30px 0;
	}

	.members [class*="col-"] {
		width: 50%;
		float: left;
	}

	.come-fun {
		padding-top: 40px;
	}

	.come-fun {
		margin-top: 30px;
	}

	.come-fun-detail {
		margin-top: 30px;
	}

	.content-info .page-heading {
		padding-top: 0px;
		padding-bottom: 30px;
		border-right: none;
	}

	.log-footer {
		text-align: center;
		margin-bottom: 20px;
	}

	.footer-link {
		margin-bottom: 20px;
	}

	.footer-link ul {
		text-align: center;
	}

	.footer .social-link {
		text-align: center;
	}

	.footer .social-link ul li {
		display: inline-block;
		margin-bottom: 10px;
	}

	.footer .social-link ul li.follow {
		margin-right: 0;
		margin-bottom:20px;
		display: block;
	}

	.content-part {
		text-align: left;
	}

	.content-part-detail {
		width: 100%;
	}

	.content-part-detail .button-box {
	    text-align: center;
	}

	.button-box a {
		color: #fff;
		font-size: 18px;
	}

	.heading {
		font-size: 20px;
	}

	.banner-section .banner-img img {
		height: 390px;
	}

	.our-client ul li {
		display: inline-block;
		margin-bottom: 20px;
		width: 122px;
	}
}

@media screen and (max-width: 450px) {
	.heading {
	    font-size: 20px;
	    display: table-row;
	    text-align: center;
	    height: 40px;
	}
}

@media screen and (max-width: 350px) {
	.members [class*="col-"] {
		width: 100%;
	}
}
	.fc-today
	{
		background-color:inherit !important;
	}
	

	.calendar-cell-actived {
		background-color: #7EC937 !important;
		color: #333;
	}

	.calendar-cell-booked {
    background: #ccc;
    background-image: repeating-linear-gradient(45deg,transparent,transparent 2px,#eee 0,#eee 7px);
	}

	.calendar-cell-leave {
		background-color: #00B4FF !important;
		width:100%;
		z-index: 9 !important;
	}
	.cancel {
		background-color: #FF0000 !important;
		width:100%;
		z-index: 9 !important;
	}
	/*chat box css*/
.chatbox .mytext{
    border:0;padding:10px;background:whitesmoke;
}
.chatbox .text{
    width:75%;display:flex;flex-direction:column;
}
.chatbox .text > p:first-of-type{
    width:100%;margin-top:0;margin-bottom:auto;line-height: 13px;font-size: 12px;
}
.chatbox .text > p:last-of-type{
    width:100%;text-align:right;color:silver;margin-bottom:-7px;margin-top:auto;
}
.chatbox .text-l{
    float:left;padding-right:10px;
}        
.chatbox .text-r{
    float:right;padding-left:10px;
}
.chatbox .avatar{
    display:flex;
    justify-content:center;
    align-items:center;
    width:8%;
    float:left;
    padding-right:10px;
}
.macro{
    margin-top:5px;width:85%;border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:white;
}
.frame{
    background:#e0e0de;
    height:450px;
    overflow:hidden;
    padding:0;
}
.frame > div:last-of-type{
    position:absolute;bottom:0;width:100%;display:flex;
}

.chatbox ul {
    width:100%;
    list-style-type: none;
    padding:18px;
    position:absolute;
    bottom:47px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}
.msj:before{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:-14px;
    position:relative;
    border-style: solid;
    border-width: 0 13px 13px 0;
    border-color: transparent #ffffff transparent transparent;            
}
.msj-rta:after{
    width: 0;
    height: 0;
    content:"";
    top:-5px;
    left:14px;
    position:relative;
    border-style: solid;
    border-width: 13px 13px 0 0;
    border-color: whitesmoke transparent transparent transparent;           
}  

.disabled{pointer-events: none;
  cursor: default;}
       