/* 

*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
* {
  box-sizing: border-box;
}
/* reste-css-end*/

/* Custome-css-header*/

.top_header{
    position: relative;
    display:  inline-block;
    width:  100%
}

.top_header .navbar-default {
    background-color: #fff;
    border-color: #fff;
}
.top_header .navbar-default .navbar-nav>li>a {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    padding-top: 40px;
}
.banner {
    position: relative;
    width: 100%;
    display: inline-block;
     background: url(../images/banner.jpg) no-repeat left top; 
    background-size: cover;
    max-width: 100%;
     min-height: 750px; 
    vertical-align: top;
}

.banner_form {
    position: absolute;
    top: 80%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 900px;
    background: #fff;
    max-width: 100%;
    border-radius: 10px;
    padding-top: 37px;
    padding-bottom: 38px;
    padding-left: 43px;
}
.banner_form .form_content h2 {
    margin-top: 5px;
    font-family: poppins;
    font-size: 36px;
    font-weight: 400;
    color: #0051a0;
}
.banner_form form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid transparent;
    float: left;
    width: 80%;
    background: #00b4ff;
    border-radius: 5px;
    height: 48px;
}

.banner_form form.example #category {
    padding: 10px;
    font-size: 17px;
    border: 1px solid transparent;
    float: left;
    width: 80%;
    background: #00b4ff;
    border-radius: 5px;
    height: 48px;
}

.banner_form ::placeholder {
  color: #fff;
  opacity: 1; /* Firefox */
  font-size: 18px;
  font-family: poppins;
}

.banner_form form.example button {
    float: left;
    width: 8.5%;
    background: #0051a0;
    color: white;
    font-size: 32px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    margin-left: 13px;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 48px;
}

.banner_form form.example button:hover {
  background: #0b7dda;
}

.banner_form form.example::after {
  content: "";
  clear: both;
  display: table;
}
/* Custome-css-header-end*/

/*images_gallery*/
.images_gallery{
    position: relative;
    display: inline-block;
    width:  100%;
    padding-bottom: 30px;
}
.images_heading p{
color: #444444;
font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
         padding-bottom: 62px;
     }
.images_heading h2 {
        margin-top: 5px;
    font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: #0051a0;
    text-align: center;
    padding-top: 66px;
    padding-bottom: 46px;
    line-height: 50px;
}
.img_box1 {
    position: relative;
    display: inline-block;
    width:  100%;
        margin-bottom: 50px;
}
.img_box1 .gel_img1 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.box_1 {
    position: relative;
    display: inline-block;
    width: 100%;
}
.img_incontent {
    background: #ececec;
    padding: 1px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.img_incontent h3{
     font-family: poppins;
    font-size: 20px;
    font-weight: 400;
    color: #0051a0;
}
.img_incontent p{
color: #444444;
font-family: poppins;
    font-size: 20px;
    font-weight: 400;
}
.ul_img {
    list-style-type: none;
    position: absolute;
    bottom: 84px;
    right: 10px;
}
.ul_img li {
    padding: 2px 0px;
}
.circle_1 {
    width: 40px;
    height: 40px;
    /*background: #ff757c;*/
    padding: 1px;
    border-radius: 50%;
    border:1px solid #35528f;
}
.circle_1 .fa {
    color: #35528f;
    font-size: 24px;
    font-weight: 300;
        padding: 6px 6px;
}
.circle_2 {
    width: 40px;
    height: 40px;
    padding: 1px;
    border-radius: 50%;
    border:1px solid #26a1d6;
}
.circle_2 .fa {
    color: #26a1d6;
    font-size: 24px;
    font-weight: 300;
       padding: 6px 6px;
}
.circle_3 {
    width: 40px;
    height: 40px;
    padding: 1px;
    border-radius: 50%;
    border:1px solid #0073ab;
}
.circle_3 .fa {
    color: #0073ab;
    font-size: 24px;
    font-weight: 300;
       padding: 6px 6px;
}
.custom_line i.fa.fa-angle-right {
    font-size: 44px;
}
.btn_custom {
    color: #fff;
    background-color: #00b4ff;
    border: 1px solid #fff;
    font-size: 33px !important;
    font-family: Poppins;
}
.btn_custom_small {
    color: #fff;
    background-color: #0051a0;
    border: 1px solid #fff;
    font-size: 24px !important;
    font-family: Poppins;
}
.btn-group, .btn-group-vertical {
    margin-bottom: 100px;
}
.custom_line::before {
   position: absolute;
    top: 30px;
    left: -288px;
    width: 266px;
    height: 2px;
    z-index: 1;
    border: 1px solid #00b4ff;
    content: "";
}
.custom_line::after {
    position: absolute;
    top: 30px;
    right: -288px;
    width: 266px;
    height: 2px;
    z-index: 1;
    border: 1px solid #00b4ff;
    content: "";
}

.btn-group>.btn+.dropdown-toggle {
    padding-right: 18px !important;
    padding-left: 18px !important;
}
/*images_gallery-end*/

/*services*/
.services{
    position: relative;
    width: 100%;
    display: inline-block;
}
.services h2{
        font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: #0051a0;
    margin-bottom: 50px;
}
.service_box1 h3 {
    font-family: poppins;
    font-size: 24px;
    font-weight: 500;
    color: #0051a0;
    padding-bottom: 15px;
    line-height: 30px;
}
.service_box1 p {
    font-family: poppins;
    font-size: 16px;
    font-weight: 400;
    color: #444444;
    padding-top: 30px;
    line-height: 24px;
}
.services_hr {
    max-width: 77px;
    margin: 0 auto;
    border: 1px solid #0051a0;
}
.bg_blue {
        background: #d9f4ff;
    min-height: 401px;
    position: absolute;
    top: 210px;
    left: 0;
    width: 100%;
    display: inline-block;
    z-index: -1;
}


/*services -ENF*/

/*persch*/
.Perch_section {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 143px;
}
.Perch_1 h2{
     font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: #0051a0;
    text-align:center;
}
.Perch_2 .para_1 {
    color: #00b4ff;
    text-align: left;
    font-size: 24px;
    font-family: Poppins;
}
.Perch_2 .para_2 {
    color: #444444;
    text-align: left;
    font-size: 20px;
    font-family: Poppins;
}
.Perch_2 {
    border-left: 2px solid #00b4ff;
    padding-left: 47px;
}
/*persch-end*/

/*testimonial*/
.item_1 h3 {
    color: #444444;
    font-size: 16px;
       font-family: Poppins;
        font-weight: 300;
}
.testimonial_section{
    position: relative;
    display: inline-block;
    width: 100%;
    background:#f8f8f8;
        margin-top: 60px;
    padding-top: 53px;
}



.detaile .para_1 {
    color: #0051a0;
    font-size: 24px;
    font-family: Poppins;
    font-weight: 400;
    padding-top: 10px;
}
.detaile .para_2{
    color:#444444;
    font-size: 16px;
       font-family: Poppins;
        font-weight: 300;
}
.testimonial_heading {
    font-family: poppins;
    font-size: 40px;
    font-weight: 500;
    color: #0051a0;
    text-align: center;
    /*margin-top: 80px;*/
    margin-bottom: 60px;
}
.item_1 {
    padding-bottom: 40px;
    position: relative;
}
.item_1 .text-left {
    text-align: left;
    width: 100px;
    display: inline-block;
    margin-right: 15px;
}

.item_1 .text-left>img {
     width: auto !important;
    max-width: 100%;
    border-radius: 50%;
    height: 96px;
    border: 2px solid #00b4ff;
    padding: 6px;
}

.user-info {
    display: inline-block;
    vertical-align: top;
}

.detaile {
    position: relative;
    width: 100%;
    display: block;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #00b4ff;
}
.owl-theme .owl-dots .owl-dot span {
    width: 16px;
    height: 16px;
}
.owl-theme .owl-dots .owl-dot span {
    background: #7cd6fc;
}
.owl-dots {
     padding-bottom: 78px; 
}
.service_circle {
    width: 215px;
    height: 215px;
    background: #fff;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.service_circle_border {
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 50%;
    border: 2px solid #0051a0;
    margin: 0 auto;
    position: relative;
    top: 31px;
    text-align: center;
}
.service_circle_border img {
    margin-top: 20px;
}
.service_circle>img {
    padding: 42px 44px;
}
/*testimonial-end*/

/*bg_img*/
.bg_img{
 position: relative;
    width: 100%;
    display: inline-block;
     background: url(../images/banner_second.jpg) no-repeat left top; 
    background-size: cover;
    max-width: 100%;
     min-height: 530px; 
    vertical-align: top;
    /*margin-top: 70px;*/
}
.last_bg_content {
    background: #00b4ff7a;
    height: 530px;
    width: 100%;
}
.last_bg_content h3 {
    font-family: poppins;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    padding-top: 80px;
    margin-top: 0px;
    padding-left: 70px;
    padding-bottom: 10px;
    max-width: 625px;
    letter-spacing: 0.5px;
    line-height: 30px;
}
.last_bg_content p {
    font-family: poppins;
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    max-width: 625px;
    letter-spacing: 0.5px;
    line-height: 30px;
    padding-left: 70px;
}
.bg_img .btn_custom {
    color: #0051a0;
    background-color: #fff;
    border: 1px solid #fff;
    font-size: 24px !important;
    font-family: Poppins;
    width: 189px;
    text-align: left;
}
.bg_img .btn-group, .btn-group-vertical {
    margin-bottom: 100px;
    padding-left: 70px;
    padding-top: 30px;
}
.item_1 .info {
    margin-top: 10px;
}
.item_1 h3 {
    margin-top: 29px;
}
/*bg_img-end*/

/*footer*/
.footer {
    position: relative;
    width: 100%;
    display: inline-block;
    padding-top: 47px;
    padding-bottom: 73px;
    background: #fff;
}
.foot_2 ul {
    list-style-type: none;
}.foot_3 ul {
    list-style-type: none;
}.foot_4 ul {
    list-style-type: none;
}
.foot_2 ul li {
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    font-family: poppins;
}
.foot_3 ul li {
    color: #000;
    font-size: 16px;
     font-weight: 500;
    line-height: 24px;
    text-align: left;
    font-family: poppins;
}
.foot_4 ul li {
    display: inline-block;
    /*padding: 20px 23px;*/
    font-size: 24px;
}
.foot_4 {
    text-align: center;
}
.foot_4 .social_heading {
      font-size: 16px;
       font-weight: 500;
    padding-right: 10px;
    font-family: poppins;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #000;
}
.foot_4 ul li {
    margin: 0px 5px;
}
.gel_img1 {
    height: 202px;
}
/*footer-end*/